<!-- <div class="jsoneditor-menu">
        <button type="button" class="jsoneditor-format" title="Format JSON data, with proper indentation and line feeds (Ctrl+\)"></button>
        <button type="button" class="jsoneditor-compact" title="Compact JSON data, remove all whitespaces (Ctrl+Shift+\)"></button>
        <button type="button" class="jsoneditor-repair" title="Repair JSON: fix quotes and escape characters, remove comments and JSONP notation, turn JavaScript objects into JSON."></button>

<ace-editor
       [(text)]="text" 
       [mode] ="'json'"
       (textChanged)="onChange($event)"
       [durationBeforeCallback]="1000"
        #editor style="height:450px;">
</ace-editor>
</div>
<!-- 
        <div ace-editor
       [(text)]="text" // possible two way binding (thx ChrisProlls)
       [mode]="'sql'" //string or object (thx ckiffel)
       [theme]="'eclipse'"
       [options]="options"
       [readOnly]="false"
       [autoUpdateContent]="true" //change content when [text] change
       [durationBeforeCallback]="1000" //wait 1s before callback 'textChanged' sends new value
       (textChanged)="onChange($event)"
       style="min-height: 200px; width:100%; overflow: auto;"></div> --> -->