<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="#">{{heading}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse navbarCustom " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">New <span class="sr-only">(current)</span></a>
        </li>
        
        <li ngbDropdown class="nav-item d-inline-block">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Open</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item">Open from disk</a>
            <a class="dropdown-item">Open from url</a>
          </div>
        </li>

        <li ngbDropdown class="nav-item d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Save</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="dropdown-item">Save to disk</a>
              <a class="dropdown-item">Save online</a>
  
            </div>
          </li>  

          <li ngbDropdown class="nav-item d-inline-block">
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Settings</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item">Intendation</a>
                <a class="dropdown-item">Add Schema</a>
    
              </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
      </ul>
    </div>
  </nav>

  <!-- <br>
  <div class="container-fluid">
      <div class="row justify-content-start">
        <div class="col-5">
            <code-editor (sourceJSONEE)="tempSourceJSON=$event" [text]="sourceJSON">
            </code-editor>
        </div>
        <div class="col-1">
            <button (click)="targetToSource()"><</button>
            <button (click)="sourceToTarget()"> > </button>
        </div>
        <div class="col-5">
            <target-editor [text]="targetJSON" (targetJSONEE)="tempTargetJSON=$event">
              </target-editor>
        </div>
      </div>
  </div> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-5" style="padding-top: 15px;">
        <jeditor [inputToCode]="sourceJSON"(sourceJSONEE)="storeSourceJSON($event)"></jeditor>
      </div>
      <div class="col-1" Style = "padding-left:0px; padding-right:0px; max-width:36.94px; min-width:36.94px ">
          <button class="btn btn-primary" (click)="sourceToTarget()" style=" margin-top:65px;"> > </button>
          <button class="btn btn-primary"  (click)="targetToSource()" style=" margin-top:15px">  <  </button>
      </div>
      <div class="col-5" style="padding-top: 15px;">
        <jeditor-tree [inputToTree]="targetJSON" (targetJSONEE)="tempTargetJSON=$event"></jeditor-tree>
      </div>
    </div>
</div>


  
    <!-- <div>
  <!-- <code-editor (sourceJSONEE)="storeSourceJSON($event)" [text]="sourceJSON"> 
  <code-editor (sourceJSONEE)="tempSourceJSON=$event" [text]="sourceJSON">
  </code-editor>

  <button (click)="targetToSource()"><</button>
  <button (click)="sourceToTarget()"> > </button>

  <target-editor [text]="targetJSON" (targetJSONEE)="tempTargetJSON=$event">
  </target-editor>
</div> -->