<nav class="navbar navbar-expand-lg navbar-custom" >
    <a class="navbar-brand" href="#">{{heading}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">New <span class="sr-only">(current)</span></a>
        </li>
        
        <li ngbDropdown class="nav-item d-inline-block">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Open</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" (click)="open(content)">Open from disk</a>
            <a class="dropdown-item" (click)="openURL(urlFileUpload)">Open from url</a>
          </div>
        </li>

        <li ngbDropdown class="nav-item d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Save</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="dropdown-item">Save to disk</a>
              <a class="dropdown-item">Save online</a>
  
            </div>
          </li>  

          <li ngbDropdown class="nav-item d-inline-block">
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Settings</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item">Intendation</a>
                <a class="dropdown-item">Add Schema</a>
    
              </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-5" style="padding-top: 15px;">
        <jeditor [inputToCode]="sourceJSON"(sourceJSONEE)="storeSourceJSON($event)"></jeditor>
      </div>
      <div class="col-1" Style = "padding-left:0px; padding-right:0px; max-width:36.94px; min-width:36.94px ">
          <button class="btn btn-primary dataFlowButton" (click)="sourceToTarget()" style=""> > </button>
          <button class="btn btn-primary"  (click)="targetToSource()" style=" margin-top:15px">  <  </button>
      </div>
      <div class="col-5" style="padding-top: 15px;">
        <jeditor-tree [inputToTree]="targetJSON" (targetJSONEE)="tempTargetJSON=$event"></jeditor-tree>
      </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">File Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label >Select a .json or .txt file for upload</label>
        <div class="input-group">
          <input type="file" accept=".json" (change)="fileUpload($event)" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Save click')">Cancel</button>
    <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="c('Save click')">Open</button>
  </div>
</ng-template>

<ng-template #urlFileUpload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">URL Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label >Enter a public URL to upload json.</label>
        <div class="input-group">
          <input type="text" style="width: 100%" #urlInput>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cancel</button>
    <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="c(urlInput.value)">Open</button>
  </div>
</ng-template>
